body, html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
}

body:before {
  content: '';
  height: 239px;
  width: 100%;
  display: none;
}

body.animated:before {
  display: block;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1a232a;
  z-index: 999;
  transition: all 0.3s ease;
  opacity: 1;
  display: none;
}

.loaded .preloader {
  opacity: 0;
}

.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background: #1a232a;
  border-top: 8px solid #05b2d2;
  text-align: center;
  padding: 40px 0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.animated header {
  top: -250px;
  padding: 20px 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
  transition: top 0.3s ease;
}

.fixed header {
  top: 0;
  transition: top 0.3s ease;
}

.animated .content {
  margin-top: 0;
}

.animated .logo img {
  width: 150px;
}

footer {
  background: #1a232a;
  padding: 10px 20px;
  position: relative;
}

footer p {
  float: left;
  line-height: 40px;
  color: white;
  font-size: 12px;
  margin: 0;
}

footer a {
  float: right;
}

footer:after {
  content: '';
  display: table;
  clear: both;
}

.action {
  font-size: 0;
}

a {
  color: #05b2d2;
  transition: all 0.3s ease;
}

a:hover {
  color: #56C4C3;
}

.btn {
  display: inline-block;
  background: #05b2d2;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin: 0 2px;
  letter-spacing: .05em;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn:hover {
  color: white;
  background: #56C4C3;
}

.logo img {
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.logo.animated img {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

h1 {
  color: white;
  font: 300 13px/14px 'Roboto', Arial, sans-serif;
  opacity: 0;
  transition: all 0.5s ease 0.2s;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -webkit-transition: all 0.5s ease 0.2s;
}

h1 span {
  color: white;
}

.logo.animated h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 100%;
}

.container > .wrap {
  margin: 0 auto;
  width: auto;
  padding: 30px 0;
  max-width: 1000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.filters {
  text-align: center;
  padding-bottom: 30px;
  opacity: 0;
  transition: all 0.5s ease 1s;
}

.animated.filters {
  opacity: 1;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters ul li {
  color: #1a232a;
  display: inline-block;
  font: 300 21px/26px 'Roboto', Arial, sans-serif;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  position: relative;
  padding: 4px 12px;
}

.filters ul li.active {
  color: white;
  background: #05b2d2;
}

.filters ul li:not(.active):hover {
  color: #56C4C3;
}

.projects:after {
  content: '';
  display: table;
  clear: both;
}

.projects article {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 48%;
  margin: 0 1% 20px 1%;
  float: left;
  overflow: hidden;
  height: auto;
  display: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.projects article figure {
  position: relative;
}

.projects article h2 {
  position: absolute;
  background: #1a232a;
  border-bottom: 1px solid #24313b;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  z-index: 3;
  margin: 0;
  letter-spacing: .05em;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.projects article figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(26,35,42,0.8);
  transform: translateY(500px);
  -webkit-transform: translateY(500px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  text-align: center;
}

.projects article figcaption .wrap {
  display: table;
  height: 100%;
  width: 100%;
}

.projects article figcaption .action {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.3s ease 0.4s;
  -webkit-transition: all 0.3s ease 0.4s;
}

.projects article .gallery {
  display: none;
}

.projects article:hover h2, .projects article:active h2 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.projects article:hover figcaption, .projects article:active figcaption {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.projects article:hover .action, .projects article:active .action {
  opacity: 1;
}

.projects article figure img {
  max-width: 100%;
  display: block;
}

@media (max-width: 600px) {
  body.animated:before {
    display: none;
  }
  
  header {
    padding: 20px 0;
  }
  
  .animated header {
    position: relative;
    top: 0;
  }
  
  .animated .logo img {
    width: auto;
  }
  
  footer {
    text-align: center;
  }
  
  footer p, footer .btn {
    float: none;
  }
  
  footer p {
    line-height: normal;
    margin-bottom: 10px;
  }
    
  .logo img {
    width: 200px;
  } 
  
  h1 {
    font-size: 12px;
  }
  
  .container > .wrap {
    padding: 20px 0;
  }
    
  .projects article {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
}